In [2]:
import numpy as np
import pandas as pd

In [110]:
df = pd.read_csv("covid19india.csv")

In [42]:
df.head(10)

,date,status,an,ap,ar,as,br,ch,ct,dd,...,py,rj,sk,tg,tn,tr,un,up,ut,wb
0,14-Mar-20,Confirmed,0,1,0,0,0,0,0,0,...,0,3,0,1,1,0,0,12,0,0
1,14-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,4,0,0
2,14-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15-Mar-20,Confirmed,0,0,0,0,0,0,0,0,...,0,1,0,2,0,0,0,1,0,0
4,15-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,2,0,1,0,0,0,0,0,0
5,15-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,16-Mar-20,Confirmed,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
7,16-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,16-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,17-Mar-20,Confirmed,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2,0,1

In [7]:
df.shape

(381, 40)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 40 columns):
date      381 non-null object
status    381 non-null object
an        381 non-null int64
ap        381 non-null int64
ar        381 non-null int64
as        381 non-null int64
br        381 non-null int64
ch        381 non-null int64
ct        381 non-null int64
dd        381 non-null int64
dl        381 non-null int64
dn        381 non-null int64
ga        381 non-null int64
gj        381 non-null int64
hp        381 non-null int64
hr        381 non-null int64
jh        381 non-null int64
jk        381 non-null int64
ka        381 non-null int64
kl        381 non-null int64
la        381 non-null int64
ld        381 non-null int64
mh        381 non-null int64
ml        381 non-null int64
mn        381 non-null int64
mp        381 non-null int64
mz        381 non-null int64
nl        381 non-null int64
or        381 non-null int64
pb        381 non-null int64
py        381 non-null int64
rj        381 non-null int64
sk        381 non-null int64
tg        381 non-null int64
tn        381 non-null int64
tr        381 non-null int64
un        381 non-null int64
up        381 non-null int64
ut        381 non-null int64
wb        381 non-null int64
dtypes: int64(38), object(2)
memory usage: 119.1+ KB

In [61]:
x = df.loc[(df['date']=='01-Jul-20') & (df['status'] == 'Confirmed')]
x['rj']

327    304
Name: rj, dtype: int64

In [109]:
x = df.loc[(df['date']=='18-Jul-20') & (df['status'] == 'Deceased')]
x.sum(axis=1)

380    1086
dtype: int64

In [106]:
df['x'] = df.sum(axis=1)

In [89]:
df

,date,status,an,ap,ar,as,br,ch,ct,dd,...,rj,sk,tg,tn,tr,un,up,ut,wb,x
0,14-Mar-20,Confirmed,0,1,0,0,0,0,0,0,...,3,0,1,1,0,0,12,0,0,162
1,14-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,4,0,0,18
2,14-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,15-Mar-20,Confirmed,0,0,0,0,0,0,0,0,...,1,0,2,0,0,0,1,0,0,54
4,15-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,2,0,1,0,0,0,0,0,0,8
5,15-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,16-Mar-20,Confirmed,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,30
7,16-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,2
8,16-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,17-Mar-20,Confirmed,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,2,0,1,22
10,17-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2
11,17-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
12,18-Mar-20,Confirmed,0,0,0,0,0,0,0,0,...,3,0,8,1,0,0,2,1,0,74
13,18-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,18-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,19-Mar-20,Confirmed,0,2,0,0,0,1,1,0,...,2,0,3,1,0,0,3,1,0,54
16,19-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,0,10
17,19-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
18,20-Mar-20,Confirmed,0,0,0,0,0,4,0,0,...,8,0,3,0,0,0,4,0,1,116
19,20-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
20,20-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,21-Mar-20,Confirmed,0,2,0,0,0,0,0,0,...,7,0,2,3,0,0,4,0,2,156
22,21-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,21-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,22-Mar-20,Confirmed,0,1,0,0,2,1,0,0,...,4,0,6,3,0,0,2,0,3,134
25,22-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,22-Mar-20,Deceased,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,6
27,23-Mar-20,Confirmed,0,1,0,0,1,1,0,0,...,4,0,6,3,0,0,2,1,0,204
28,23-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,24
29,23-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,09-Jul-20,Confirmed,7,1555,15,568,704,16,140,0,...,500,1,1410,4231,16,-633,1206,47,1088,51580
352,09-Jul-20,Recovered,9,1053,11,421,251,1,68,0,...,204,0,913,3994,14,0,796,22,535,38816
353,09-Jul-20,Deceased,0,13,0,5,9,0,1,0,...,9,0,7,65,0,0,17,0,27,958
354,10-Jul-20,Confirmed,0,1608,33,936,352,13,166,0,...,611,0,1278,3680,142,-224,1338,68,1198,55524
355,10-Jul-20,Recovered,9,1040,0,701,459,5,125,0,...,550,9,1013,4163,34,0,660,34,522,40578
356,10-Jul-20,Deceased,0,15,0,8,2,0,2,0,...,6,0,8,64,0,0,27,0,26,1040
357,11-Jul-20,Confirmed,0,1813,6,535,709,13,65,0,...,574,26,1178,3965,31,-745,1392,44,1344,55514
358,11-Jul-20,Recovered,0,1199,5,578,740,5,42,0,...,249,0,1714,3591,3,0,902,12,611,39962
359,11-Jul-20,Deceased,0,17,0,2,7,1,0,0,...,6,0,9,69,1,0,24,0,26,1086
360,12-Jul-20,Confirmed,7,1933,19,735,1266,10,184,0,...,644,4,1269,4244,105,-392,1384,120,1560,58212
361,12-Jul-20,Recovered,8,1019,13,468,962,4,83,0,...,234,1,1563,3617,46,0,645,68,622,36396
362,12-Jul-20,Deceased,0,19,0,4,7,0,2,0,...,7,0,8,68,0,0,21,1,26,1000
363,13-Jul-20,Confirmed,3,1935,27,1001,1116,29,184,0,...,544,2,1550,4328,26,-666,1654,71,1435,56356
364,13-Jul-20,Recovered,9,1052,7,522,411,6,49,0,...,527,6,1197,3035,54,0,869,70,632,35366
365,13-Jul-20,Deceased,0,37,1,4,9,0,0,0,...,8,0,9,66,0,0,21,2,24,1082
366,14-Jul-20,Confirmed,5,1916,75,859,1432,12,114,0,...,635,45,1524,4526,90,-179,1594,78,1390,59834
367,14-Jul-20,Recovered,20,1003,8,757,655,23,73,0,...,539,-1,1161,4743,63,0,778,11,718,41954
368,14-Jul-20,Deceased,0,43,0,6,9,2,1,0,...,6,0,10,67,0,0,28,1,24,1174
369,15-Jul-20,Confirmed,5,2432,29,1088,1320,19,177,0,...,866,11,1597,4496,98,-655,1659,99,1589,65214
370,15-Jul-20,Recovered,1,911,0,715,514,13,49,0,...,333,1,1159,5000,66,0,762,81,749,41292
371,15-Jul-20,Deceased,0,44,0,2,14,1,0,0,...,6,0,11,68,1,0,29,0,20,1228
372,16-Jul-20,Confirmed,4,2593,52,892,1385,16,198,0,...,737,13,1676,4549,98,-239,2058,197,1690,70936
373,16-Jul-20,Recovered,3,1015,0,666,568,17,127,0,...,468,0,1296,5106,33,0,932,47,735,45734
374,16-Jul-20,Deceased,0,40,0,2,10,0,1,0,...,8,0,10,69,0,0,34,0,23,1360
375,17-Jul-20,Confirmed,0,2602,66,1218,1742,25,249,0,...,615,32,1478,4538,118,-754,1722,120,1894,69640
376,17-Jul-20,Recovered,0,905,22,551,896,4,61,0,...,656,1,1410,3391,47,0,959,26,838,34952
377,17-Jul-20,Deceased,0,42,0,1,6,0,3,0,...,8,0,7,79,0,0,38,1,26,1352
378,18-Jul-20,Confirmed,0,3963,41,1117,1667,31,243,0,...,711,19,1284,4807,171,-368,1873,174,2198,74814
379,18-Jul-20,Recovered,0,1465,99,1060,774,5,146,0,...,518,2,1902,3049,51,0,1030,60,1286,47104
380,18-Jul-20,Deceased,0,52,0,2,4,1,0,0,...,7,0,6,88,2,0,24,1,27,1086

In [59]:
df.tail()

,date,status,an,ap,ar,as,br,ch,ct,dd,...,py,rj,sk,tg,tn,tr,un,up,ut,wb
376,17-Jul-20,Recovered,0,905,22,551,896,4,61,0,...,67,656,1,1410,3391,47,0,959,26,838
377,17-Jul-20,Deceased,0,42,0,1,6,0,3,0,...,3,8,0,7,79,0,0,38,1,26
378,18-Jul-20,Confirmed,0,3963,41,1117,1667,31,243,0,...,58,711,19,1284,4807,171,-368,1873,174,2198
379,18-Jul-20,Recovered,0,1465,99,1060,774,5,146,0,...,48,518,2,1902,3049,51,0,1030,60,1286
380,18-Jul-20,Deceased,0,52,0,2,4,1,0,0,...,3,7,0,6,88,2,0,24,1,27

In [18]:
df['date']

0      14-Mar-20
1      14-Mar-20
2      14-Mar-20
3      15-Mar-20
4      15-Mar-20
5      15-Mar-20
6      16-Mar-20
7      16-Mar-20
8      16-Mar-20
9      17-Mar-20
10     17-Mar-20
11     17-Mar-20
12     18-Mar-20
13     18-Mar-20
14     18-Mar-20
15     19-Mar-20
16     19-Mar-20
17     19-Mar-20
18     20-Mar-20
19     20-Mar-20
20     20-Mar-20
21     21-Mar-20
22     21-Mar-20
23     21-Mar-20
24     22-Mar-20
25     22-Mar-20
26     22-Mar-20
27     23-Mar-20
28     23-Mar-20
29     23-Mar-20
         ...
351    09-Jul-20
352    09-Jul-20
353    09-Jul-20
354    10-Jul-20
355    10-Jul-20
356    10-Jul-20
357    11-Jul-20
358    11-Jul-20
359    11-Jul-20
360    12-Jul-20
361    12-Jul-20
362    12-Jul-20
363    13-Jul-20
364    13-Jul-20
365    13-Jul-20
366    14-Jul-20
367    14-Jul-20
368    14-Jul-20
369    15-Jul-20
370    15-Jul-20
371    15-Jul-20
372    16-Jul-20
373    16-Jul-20
374    16-Jul-20
375    17-Jul-20
376    17-Jul-20
377    17-Jul-20
378    18-Jul-20
379    18-Jul-20
380    18-Jul-20
Name: date, Length: 381, dtype: object

In [124]:
new_df = df.groupby('status')

In [117]:
type(new_df)

pandas.core.groupby.groupby.DataFrameGroupBy

In [119]:
new_df.first()

,date,an,ap,ar,as,br,ch,ct,dd,dl,...,py,rj,sk,tg,tn,tr,un,up,ut,wb
status,,,,,,,,,,,,,,,,,,,,,
Confirmed,14-Mar-20,0,1,0,0,0,0,0,0,7,...,0,3,0,1,1,0,0,12,0,0
Deceased,14-Mar-20,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Recovered,14-Mar-20,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,4,0,0

In [128]:
new_df.groups

{'Confirmed': Int64Index([  0,   3,   6,   9,  12,  15,  18,  21,  24,  27,
             ...
             351, 354, 357, 360, 363, 366, 369, 372, 375, 378],
            dtype='int64', length=127),
 'Deceased': Int64Index([  2,   5,   8,  11,  14,  17,  20,  23,  26,  29,
             ...
             353, 356, 359, 362, 365, 368, 371, 374, 377, 380],
            dtype='int64', length=127),
 'Recovered': Int64Index([  1,   4,   7,  10,  13,  16,  19,  22,  25,  28,
             ...
             352, 355, 358, 361, 364, 367, 370, 373, 376, 379],
            dtype='int64', length=127)}

In [137]:
#new_df.get_group('Confirmed')
new_df.first()

,date,an,ap,ar,as,br,ch,ct,dd,dl,...,py,rj,sk,tg,tn,tr,un,up,ut,wb
status,,,,,,,,,,,,,,,,,,,,,
Confirmed,14-Mar-20,0,1,0,0,0,0,0,0,7,...,0,3,0,1,1,0,0,12,0,0
Deceased,14-Mar-20,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Recovered,14-Mar-20,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,4,0,0

In [141]:
df.head()

,date,status,an,ap,ar,as,br,ch,ct,dd,...,py,rj,sk,tg,tn,tr,un,up,ut,wb
0,14-Mar-20,Confirmed,0,1,0,0,0,0,0,0,...,0,3,0,1,1,0,0,12,0,0
1,14-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,4,0,0
2,14-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15-Mar-20,Confirmed,0,0,0,0,0,0,0,0,...,0,1,0,2,0,0,0,1,0,0
4,15-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,2,0,1,0,0,0,0,0,0

In [181]:
x = df.loc[df['status']=='Confirmed']
y = df.loc[df['status']=='Recovered']
z = df.loc[df['status']=='Deceased']

In [160]:
df.describe().rj

count    381.000000
mean     131.750656
std      169.953688
min        0.000000
25%        4.000000
50%       42.000000
75%      236.000000
max      866.000000
Name: rj, dtype: float64

In [158]:
x.describe().rj

count    127.000000
mean     224.409449
std      191.507858
min        0.000000
25%       76.500000
50%      210.000000
75%      304.500000
max      866.000000
Name: rj, dtype: float64

In [161]:
y.describe().rj

count    127.000000
mean     166.488189
std      155.543383
min        0.000000
25%       17.000000
50%      126.000000
75%      276.000000
max      656.000000
Name: rj, dtype: float64

In [163]:
z.describe().rj

count    127.000000
mean       4.354331
std        3.680768
min        0.000000
25%        1.000000
50%        4.000000
75%        7.000000
max       17.000000
Name: rj, dtype: float64

In [184]:
print("\n\nFor Status Confirmed :- \n\n",x.describe().rj)
print("\n\nFor Status Recovered :- \n\n",y.describe().rj)
print("\n\nFor Status Deceased :- \n\n",z.describe().rj)

For Status Confirmed :-

 count    127.000000
mean     224.409449
std      191.507858
min        0.000000
25%       76.500000
50%      210.000000
75%      304.500000
max      866.000000
Name: rj, dtype: float64


For Status Recovered :-

 count    127.000000
mean     166.488189
std      155.543383
min        0.000000
25%       17.000000
50%      126.000000
75%      276.000000
max      656.000000
Name: rj, dtype: float64


For Status Deceased :-

 count    127.000000
mean       4.354331
std        3.680768
min        0.000000
25%        1.000000
50%        4.000000
75%        7.000000
max       17.000000
Name: rj, dtype: float64